
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_v.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="apple-touch-icon" sizes="180x180" href="/media/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/media/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/media/images/favicon-16x16.png">
<link rel="manifest" href="/media/images/site.webmanifest">
<link rel="mask-icon" href="/media/images/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/media/images/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/media/images/browserconfig.xml">
<meta name="theme-color" content="#ff0000">
<html lang="en">


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>BlairHacks</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/old.css' %}"/>

</head>

<body class="back">
	<script src="script.js">
	</script>

	<nav class="nav-bar">
		<img class = "logo" src="https://media.discordapp.net/attachments/944456201884811284/944781957844324362/READ-PixTeller.png">
    </nav>
    <br>
    <br>

    <div class="info-items" align="center">
        <button class="info"> <a href="{% url 'home:home' %}">Home</a></button>
        <button class="info"><a href="{% url 'home:books' %}">Bookshelf</a></button>
        <button class="info"><a href="{% url 'home:home' %}">About</a></button>
  </div> 



<h1 class="intro">  About Us<h1> 

<h3 class="description"> Created by Yufei Zhang & Yesho Vir with Django, Python, HTML, CSS, and Javascript.
 
</h3>





