
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_v.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="apple-touch-icon" sizes="180x180" href="/media/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/media/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/media/images/favicon-16x16.png">
<link rel="manifest" href="/media/images/site.webmanifest">
<link rel="mask-icon" href="/media/images/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/media/images/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/media/images/browserconfig.xml">
<meta name="theme-color" content="#ff0000">
<html lang="en">

<title>Welcome to PuzzleReader!</title>
    
<body>
 
<div class="div_sep">
    <div class="img-left">
        <img src="">
    </div>
    <div class="div_col" >
        <div class="header"> 
            <div class="imgcontainer">
            <img src="">
            </div>
            Welcome
        </div>
        <div class="belowh">
            <b1> Gamify reading</b1>
        </div>
        
</body>
</html>
