.back {
  background-color: rgb(255, 187, 0);
}

.info {
  padding: 10px 10px;
  border: 1px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 60;
  background-color: deepskyblue;
  color: crimson;
  font-size: 30px;
  font-family: SeoulHangang;
}

.info-items {
  font-size: 30px;
  font-weight: 10;
  margin-left: 100px;
  margin-right: 100px;
}

.selection {
  width: 80%;
  margin-left: 50px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.name {
  height: max-content;
  width: 250px;
  margin-top: 20px;
  margin-left: 170px;
  margin-right: 120px;
}
.name > img {
  width: 360px;
  height: 550px;
}

.content {
  padding: 15px;
}
.content > p {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 14px;
}
.content > h4 {
  color: hsl(0, 0%, 0%);
  padding-bottom: 5px;
  padding-top: 5px;
}

/* yufei's additions*/
/* intro page*/
.intro {
  font-size: 50px;
  text-align: center;
}

.description {
  font-size: 30px;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
/* book list*/
.rectangle {
  height: 300px;
  width: 270px;
  padding: 15px;
  position: center;
  background-color: white;
  border-radius: 12px;
  justify-content: center;
}
.title {
  font-size: 30px;
}
.h1 {
  font-size: 50px;
  text-align: center;
}

/* add new book*/
.button {
  background-color: white;
  font-family: SeoulHangang;
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px 10px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
  opacity: 0.6;
}
